$gray_color: #747474;
$white_color: #FFFFFF;
$red_color: #f938225e;

$width-group: 345px;
$height-group2: 272px;
$group-padding: 20px;
$option-width: 145.5px;
$option-height: 182px;
$height-o-img: 100px;
$width-o-img: 125px;
$margin-title-o: 13.5px;
$margin-by-top-sub-title: 38px;
$margin-bottom-group: 70px;
$branding-img: 305px;