$gray_color: #747474;
$white_color: #FFFFFF;
$red_color: #f938225e;
$red1_color: #F93822;
$button_color: #111111;
$black_color: #000000;
$gray1_color: #BDBDBD;
$sc_color: #E0E0E0;
$input-border: #CCCCCC;

$width-group: 345px;
$width-group-phone: 320px;

$height-button: 42px;
$height-group2: 272px;
$group-padding: 20px;
$phone-gap: 20px;

$option-width: 145.5px;
$option-height: 180px;
$height-o-img: 100px;
$width-o-img: 125px;
$margin-title-o: 13.5px;
$margin-by-top-sub-title: 38px;
$margin-bottom-group: 70px;
$branding-img: 305px;
$margin-main-top: 40px;

$model-view-width-desk: 600px;
$model-view-height-desk: 450px;
$margin-top-ar-filter: 84px;
$height-button-board: 82px;

$width-share: 390px;
$height-share: 177px;

$width-ar: 305px;
$width-ar-phone: 280px;
$height-ar: 332px;

$margin-bottom-group-phone: 40px;